# python
*.coverage
*.pyc
*.pyo
*.pyd
__pycache__
.cache
.pytest_cache

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
output.txt
*.pem

# Kubernetes
*.kubeconfig
*cluster-keys.json
*.crt
*.key
/Users/user/Development/Projects/showcase-devops/kubernetes/cluster-keys.json

